<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Semop.Data.Properties.Settings.AlcaldiaInfraConnectionString"
            connectionString="Data Source=HIPATIA;Initial Catalog=AlcaldiaInfra;Persist Security Info=True;User ID=sa;Password=12345;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Semop.Data.Properties.Settings.AlcaldiaInfraConnectionString1"
            connectionString="Data Source=SC001SISNOLA\FENIX;Initial Catalog=AlcaldiaInfra;User ID=sa;Password=12345;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>